.cart-dropdown {
  position: absolute;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  flex-grow: 1;
}

.cart-dropdown-container {
  height: 77%;
  overflow-y: auto;
}

.cart-button {
  position: absolute;
  width: 318px;
  bottom: 10px;

  .total-price-container {
    margin: 3px 0px;
  }

  button {
    font-size: 10px;
    width:100%;
    margin: 0;
  }
 
 }

 
